ion-header{
    --background: transparent;

    ion-item{
        --padding-top: 1.5rem;
        --background: transparent;
    }

    ion-card{
        --background: #67509e;
    }

    ion-card-content{
        text-align: center;
        color: #fff
    }

    .logo-img{
        display: block;
        width: 10%;
    }


    .logo-company{
        display: block;
        width: 10%;
        margin: 0 0 0 auto;
    }

}

ion-content{
    --background: transparent;

    --padding-top: .5rem;
    --padding-start: 1rem;
    --padding-end: 1.5em;
    --padding-bottom: .5rem;

    ion-slides {
        height: 100%;
    }


    ion-card, ion-item{
        --background: #transparent;
        text-align: center;
        --padding-top: 0rem;
        --padding-start: 0rem;
    }

    ion-card-content {
        width: 100%!important;
    }

    ion-card-content h1{
        text-align: center;
        font-weight: bold;
        color: #fff;
        margin: 0 auto;
        font-size: 1rem;
    }

    ion-img{
        margin: 0 auto;
    }

    .imagen{
        height: 40vh;
    }

    .parlante{
        height: 60px;
    }

    ion-item ion-button{
        margin: 0 auto;
    }

    ion-card{
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        width: 100%;
        height: 100%;
        box-shadow: none !important;
    }

    .actions{
        // margin-top: 50px;
    }


    @media screen and (orientation:landscape) {
        .description{
                height: 50vh;
                overflow-y: auto;
                display: flex;
                justify-content: center
        }

        img{
            width: 30%;
            margin: auto;
        }
    }

    @media screen and (orientation:portrait) {
        .description{
                height: 75vh;
                overflow-y: auto;
                display: flex;
                justify-content: center
        }


        img{
            width: 100%;
        }
    }
}