ion-header{
    --background: transparent;
  
    ion-item{
        --background: transparent;
    }

    .logo-img{
        display: block;
        width: 35%;
        margin: 0 auto;
    }

    .divisor-img{
        display: block;
        width: 20%;
        margin: 0 auto;
    }

    .text-header{
        text-align: right;
        width: 45%;
    }

    .text-1{
        font-size: 0.8rem;
        color: #fff;
    }

    .text-2{
        font-size: 1.6rem;
        margin-top: -10px;
        color: #fff;
        font-weight: bold;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    @media screen and (orientation:landscape) {
        .logo-img{
            display: block;
            width: 15%;
            margin: 0 auto;
        }
    
        .divisor-img{
            display: block;
            width: 10%;
            margin: 0 auto;
        }
    
        .text-header{
            text-align: right;
            width: 65%;
        }
    
        .text-1{
            font-size: 0.8rem;
            color: #fff;
        }
    
        .text-2{
            font-size: 1.6rem;
            margin-top: -10px;
            color: #fff;
            font-weight: bold;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
}

ion-content{
    --background: transparent;

    --padding-top: 3.5rem;
    --padding-start: 1rem;
    --padding-end: 1.5em;
    --padding-bottom: 1.5rem;


    h2{
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
        padding: 5px;
    }


    .bienvenida{
        background: url('../../../assets/circulo.png') no-repeat center center fixed;
        background-size: 100%;
        margin: 0 auto;
        height: 50vh;
        width: 50vh;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .frase{
        font-size: 1.2rem;
        text-align: center;
    }

    @media screen and (orientation:landscape) {
        --padding-top: 1.5rem;
        --padding-start: 35%;

        .bienvenida{
            margin: 0 auto;
            height: 50vh;
            width: 50vh;
        }

        h2{
            font-size: 1rem;
            padding: 5px;
        }

        .frase{
            font-size: 0.8rem;
        }  
    }

    .bot-img{
        width: 80%;
    }
}

