ion-header{
    --background: transparent;
    
    ion-buttons {
        color: #fff;
    }
}

ion-content{
    --background: transparent;

    --padding-top: 0.5rem;
    --padding-start: 0.5rem;
    --padding-end: 0.5em;


    .login-header{
        margin-top: 0%;
    }

    .logo-img{
        display: block;
        width: 65%;
        margin: 0 auto;
        text-align: center;
    }



    ion-item{
        margin-top: 0.5rem;
        --background: transparent;
    }

    ion-label{
        color: #fff!important;
        opacity: 1;
    }

    ion-input{
        border: 1px solid #fff;
        border-radius: 0.3rem;
        padding: 10px;
        padding-left: 10px !important;
        margin-top: 1rem;
        font-size: 0.7rem;
        --background:#fff;
    }

    h4{
        color: #fff;
        text-align: center;
        margin-top: 40px;
        font-size: 1rem;
        font-weight: bold;
    }

    .ion-button-submit{
        font-family:'Gilroy-ExtraBold' !important;
        text-align: center;
        --padding-start: 3rem;
        --padding-end: 3rem;
        font-size: 0.8rem;
    }

    ion-button {
        text-transform: none;
    }

    .forget_password{
        font-size: 0.8rem;
        float: right;
        margin: 20px 0px;
        color: #fff!important; 
        text-align: right!important;
        white-space: break-spaces;
    }    
}
