<ion-header class="ion-no-border">

  <ion-item lines="none">
    <ion-img class="logo-img" src="assets/logos/logo2.png"></ion-img>
    <ion-img class="logo-company" src="assets/logos/empresa.png"></ion-img>
  </ion-item>

  <ion-card class="card-welcome" >
    <ion-card-content>
      Escoger Avatar
    </ion-card-content>
  </ion-card>

  
</ion-header>

<ion-content>

  <div class="list-avatar">

    <div class="avatares">
        <ion-label>
          <img src="assets/avatar/avatar1.png" class="iconos-avatar"> 
        </ion-label>
    </div>

    <div class="avatares">
      <ion-label>
        <img src="assets/avatar/avatar2.png" class="iconos-avatar"> 
      </ion-label>
    </div>

    <div class="avatares">
      <ion-label>
        <img src="assets/avatar/avatar3.png" class="iconos-avatar"> 
      </ion-label>
    </div>


    <div class="avatares">
      <ion-label>
        <img src="assets/avatar/avatar4.png" class="iconos-avatar"> 
      </ion-label>
    </div>

    <div class="avatares">
      <ion-label>
        <img src="assets/avatar/avatar5.png" class="iconos-avatar"> 
      </ion-label>
    </div>

  </div>


</ion-content>

<ion-footer class="ion-no-border">

    <ion-row>
      <ion-col style="text-align: center">
        <ion-button type="submit" color="fnl" class="ion-button-submit" fill="solid" >
          Salir
        </ion-button>
  
      </ion-col>
  
      <ion-col style="text-align: center" routerLink="['/home']">
        <ion-button type="submit" color="fnl" class="ion-button-submit" fill="solid" >
          Continuar
        </ion-button>
  
      </ion-col>
    </ion-row>

</ion-footer>