ion-header{
    --background: transparent;
  
    ion-item{
        --padding-top: 2.5rem;
        --background: transparent;
    }
  
    ion-card{
        --background: #67509e;
    }
  
    ion-img{
        display: block;
        width: 35%;
        margin: 0 auto;
    }
  
    ion-card-content{
        text-align: center;
        color: #fff
    }
  
  }
  
  ion-content{
    --background: transparent;
  
    --padding-top: 1.5rem;
    --padding-start: 1rem;
    --padding-end: 1.5em;
    --padding-bottom: 1.5rem;
  
    ion-item{
        --background: transparent;
    }

    .iconos-avatar{
        padding: 5px;
        height: 80px;
        border-radius: 50%;
    }

    .list-avatar{
        text-align: center;
    }

    .avatares{
        display: inline-block;
        text-align: center;
    }

    .avatares:hover{
        background: #c4cbd6;
        --ion-background-color:#c4cbd6;
        opacity: 0.5;
    }


  }
  
  ion-footer{
    --background: transparent;
  
    ion-item{
      --background: transparent;
    }
    
    .ion-button-submit{
      font-family:'Gilroy-ExtraBold' !important;
      text-align: center;
      --padding-start: 3rem;
      --padding-end: 3rem;
      font-size: 0.8rem;
    }
  
  }