<ion-header class="ion-no-border">

  <ion-item lines="none">
    <ion-img class="logo-img" src="assets/logos/fnl.png"></ion-img>
    <ion-img class="divisor-img" src="assets/icon/divisor.png"></ion-img>
    <div class="text-header">
      <p class="text-1">Días faltantes hasta llegar a la meta semanal</p>
      <p class="text-2">{{ profile.remaining }} Días</p>
    </div>
  </ion-item>
  
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
        <h1>¿Como te sientes hoy?</h1>

        <div>
          <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]" (click)="rate(num)" [ngStyle]="{'color': getColor(num)}"></ion-icon>
        </div>

        
        <ion-row>
            <ion-col>1. SIN CAMBIOS</ion-col>
            <ion-col>2. ALGO MEJOR</ion-col>
            <ion-col>3. MEJOR</ion-col>
            <ion-col>4. MUCHO MEJIOR</ion-col>
            <ion-col>5. EXCELENTE</ion-col>
        </ion-row>
    </ion-card-content>


  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button color="fnl" (click)="chatModal()">
      <ion-img class="bot-img" src="assets/icon/bot.png"></ion-img>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>

<ion-footer>

  <ion-row>
    <ion-col style="text-align: center">

        <ion-button (click)="onSubmit()" [disabled]="disabled" color="fnl" class="ion-button-submit" fill="solid" >
            Enviar
        </ion-button>

    </ion-col>
  </ion-row>
</ion-footer>