<ion-header class="ion-no-border">
  <ion-toolbar color="translucent">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="login-header">
    <img class="logo-img" src="assets/logos/logo.png" alt="">
  </div>
  
   <form [formGroup]="forgetForm" >

    <h4>Recuperar Contraseña</h4>

   <ion-grid>
     <ion-row>
       <ion-col >

           <ion-item lines="none">
               <ion-label position="stacked">Correo Electrónico</ion-label>
               <ion-input type="email" id="email" formControlName="email" placeholder="Ingrese correo electrónico"></ion-input>
           </ion-item>
          
       </ion-col>
     </ion-row>

   </ion-grid>

   </form>

</ion-content>

<ion-footer>

  <ion-row>
    <ion-col style="text-align: center">

        <ion-button (click)="onSubmit()" [disabled]="!forgetForm.valid || disabled" color="fnl" class="ion-button-submit" fill="solid" >
            Enviar
        </ion-button>

    </ion-col>
  </ion-row>
</ion-footer>